.header {
    text-align: center;
    font-size: 60px;
    background: -webkit-repeating-linear-gradient(#00ff80, #66FF); 
    color: whitesmoke;
}

.list-group-item{
    color: #66FF;
}

.green{
    background-color: green;
  }
  .yellow{
    background-color: yellow;
  }
  .orange{
    background-color: orange;
  }
  .red{
    background-color: red;
  }
  
  .purple{
    background-color: purple;
  }
  
